.stick-to-bottom {
  position: fixed;
  bottom: 80px;
  width: 41%;
  z-index: 10;
}

#semi-auto-btn {
  position: fixed;
  bottom: 80px;
  background-color: white;
  z-index: 10;
}

#RECERT {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: rgb(212, 0, 0) !important;
}
/* rgb(237, 211, 0); */
#DISCHARGE {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: rgb(237, 211, 0);
}
#EVALUATION {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: rgb(186, 150, 215);
}
#DRE {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: rgb(117, 154, 224);
}
#ROUTINEVISIT {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: rgb(125, 184, 133);
}
/* #legends {
  display: inline-block;
  width: 33%;
  margin-bottom: 5px;
} */

.legends-div {
  display: inline-block;
  margin-top: 10%;
  margin-right: 65px;
}
.legends-div span {
  width: 100%;
  color: #7a7a7a;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: -3px;
}
